<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
    <link rel="shortcut icon" href="/assets/img/favicon.png"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-deep_purple.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="/assets/style.css">
    <title>RMII - P2 - Portal</title>
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">G-Link</span>
            <nav class="mdl-navigation">
                {{#if navlinks}}
                    {{#each navlinks}}
                        <a class="mdl-navigation__link" href={{this.href}}>{{this.text}}</a>
                    {{/each}}
                {{/if}}
                <!--a class="mdl-navigation__link" href="">A</a>
                <a class="mdl-navigation__link" href="">B</a>
                <a class="mdl-navigation__link" href="">C</a>
                <a class="mdl-navigation__link" href="">D</a-->
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content">
                <div class="mdl-grid">
                    <div class="mdl-cell--12-col">
                        <h1>Welcome, {{username}}</h1>
                    </div>
                    <div class="mdl-grid mdl-cell--12-col outline-red">
                        <h2>My Games</h2>
                    </div>
                    <div class="mdl-cell--12-col mdl-grid">
                        <div class="mdl-cell--4-col outline-red small-margin">
                            <h4>Friends List</h4>
                            <ul class="mdl-list">
                                {{#if friends}}
                                    {{#each friends}}
                                        <section class="friendsLi" name-prop={{this.name}}></section>
                                    {{/each}}
                                {{/if}}
                            </ul>
                            <div class="addFriend">
                                <form id="friendForm" action="/addFriend" method="POST" class="outline-black">
                                    <div>
                                        <input type="text" name="username" placeholder="Username" />
                                        <input type="hidden" name="_csrf" value={{csrfToken}} />
                                        <input type="submit" value="Add!" />
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="mdl-cell--6-col outline-red small-margin">
                            <h4>Messages</h4>
                            <ul class="mdl-list">
                                {{#if messages}}
                                    {{#each messages}}
                                        <li class="mdl-list__item mdl-list__item--three-line">
                                            <span class="mdl-list__item-primary-content">
                                                <i class="material-icons mdl-list__item-avatar">person</i>
                                                <span>{{this.from}}</span>
                                                <span class="mdl-list__item-text-body">
                                                    {{this.text}}
                                                </span>
                                            </span>
                                            <span class="mdl-list__item-secondary-content">
                                                <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">error</i></a>
                                            </span>
                                        </li>
                                    {{/each}}
                                {{/if}}
                            </ul>
                            <form id="msgForm" action="/sendMsg" method="POST" class="outline-black">
                                <div>
                                    <input type="text" name="to" placeholder="Username" />
                                    <input type="text" name="text" placeholder="Message" />
                                    <input type="hidden" name="_csrf" value={{csrfToken}} />
                                    <input type="submit" value="Send!" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
<script src="/assets/portalBundle.js"></script>
</html>